/* styles/style.css */



html,body,.game-container {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    background-color: #1e1e3f; /* Dark blue background */
    /*border: 5px solid #2e8b57; /* Dark green border to match the theme */
    /*border-radius: 15px; /* Rounded corners */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
/* Style for the Bootstrap button to overlay on the Phaser canvas */
.hamburger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it is above the game canvas */
}

.game-text {
    font-family: 'Arial', sans-serif;
    color: #ffffff; /* White text color */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for readability */
}
